
.header{
  transition:all .5s ease;
  background:var(--primary-color);
}
.header.scrolled{
  background:var(--primary-color);
}

.logo{
    width: 130px;
    position: absolute;
    top: 5px;
}
.navbar-toggler-icon{
    background-image:none !important;
}
.header.scrolled .navbar-toggler-icon i{
    color: var(--tertiary-color);
}
.btn-theme-primary {
    border-radius: 25px;
    color: var(--tertiary-color);
    background-color: var(--primary-color);
    border-color: var(--tertiary-color);
    padding: 5px 25px;
}
.btn-theme-secondry {
    border-radius: 25px;
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    border-color: var(--primary-color);
    padding: 10px;
    border: 2px solid var(--primary-color);
    font-size: 13px;
    letter-spacing: 1;
    width: 100%;
}
.btn-theme-secondry:hover{
    color: #fff;
    background: var(--primary-color);
    border: 2px solid var(--primary-color);
}
.btn-theme-transparent {
    border-radius: 25px;
    color: var(--tertiary-color);
    background-color: transparent;
    padding: 10px;
    border: 2px solid var(--tertiary-color);
    font-size: 13px;
    letter-spacing: 1;
    width: 100%;
}
.btn-theme-transparent:hover{
    color: #fff;
    background: var(--primary-color);
    border: 2px solid var(--primary-color);
}
.btn-theme-primary:hover,
.btn-theme-primary:active,
.btn-theme-primary:focus {
    box-shadow: none;
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    border-color: var(--priamry-color);
}

.header .navbar-nav .nav-link {
    color: var(--tertiary-color);
}

.header ul.navbar-nav a:hover{
  color: var(--tertiary-color) !important;
}
.header ul.navbar-nav li{
    text-align: center;
    text-transform: uppercase;
}
.header ul.navbar-nav li > a:after{
    content: '';
    display: block;
    height: 1.5px;
    background: var(--tertiary-color);
    transform: scaleX(0);
    transition: transform .3s;
}
.header ul.navbar-nav li > a:hover:after{
    transform: scaleX(1);
    transition: transform .3s;
}
.header ul.navbar-nav li.active{
    color: var(--tertiary-color) !important;
}




#menu a
{
	text-decoration: none;
  	color: #fff;
  	transition: color 0.3s ease;
}

#menu a:hover
{
  color: #0275d8;
}

#menuToggle
{
  	display: block;
  	position: fixed;
  	top: 25px;
  	right: 25px;
  	z-index: 1;
  	-webkit-user-select: none;
  	user-select: none;
}

#menuToggle input
{
  	display: block;
  	width: 40px;
  	height: 32px;
  	position: absolute;
  	top: -7px;
  	left: -5px;
  	cursor: pointer;
	opacity: 0; /* hide this */
  	z-index: 2; /* and place it over the hamburger */
  	-webkit-touch-callout: none;
}

.header #menuToggle span
{
  	display: block;
  	width: 33px;
  	height: 4px;
  	margin-bottom: 5px;
  	position: relative;
	background: var(--primary-color);
  	border-radius: 3px;
  	z-index: 1;
  	transform-origin: 4px 0px;
  	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
.header.scrolled #menuToggle span
{
	background: var(--tertiary-color);
}
#menuToggle span:first-child
{
  	transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  	transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  	opacity: 1;
  	transform: rotate(45deg) translate(-2px, -1px);
  	background: #fff;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  	opacity: 0;
  	transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  	opacity: 1;
  	transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
    position: absolute;
    width: 275px;
    height: 100vh;
    margin: -100px 0 0 0;
    text-align: center;
    padding: 50px;
    padding-top: 125px;
    right: -100px;
    background: var(--primary-color);
  	list-style-type: none;
  	-webkit-font-smoothing: antialiased;
  	/* to stop flickering of text in safari */

  	transform-origin: 0% 0%;
  	transform: translate(100%, 0);
  	transition: transform 1s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  	padding: 10px 0;
  	font-size: 16px;
}

#menuToggle input:checked ~ ul
{
  	transform: scale(1.0, 1.0);
  	opacity: 1;
}

.menu-logo img{
	width: 120px;
	padding: 0;
}




.banner-bg{
    background-image: url('../image/banner-img.jpg');
}
.second-right-img{
    width: 100%;
    height: 450px;
}
.second-right-img img{
    height: 100%;
}
.third-section-bg{
    background-image: url('../image/3.jpg');
}
.fifth-section-bg{
    background-image: url('../image/5.jpg');
}
.left-content{
    padding: 10px 40px 10px 60px;
}
.left-content h6{
    font-size: 13px;
}
.left-content p,
.right-content p{
    font-size: 13px;
}
.left-content ul li{
    font-size: 12px;
}
.black-overlay{
    background: rgba(0,0,0,.6);
}
.right-content{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    padding: 10px 60px 10px 40px;
    width: 50%;
}
.top-heading{
    position: absolute;
    top: -140px;
    bottom: 0;
    left: 0;
    right: 5px;
}
.top-heading .primary-bg-color{
    border-radius: 8px;
}
.top-heading h4{
    padding:10px 0px;
    font-size: 22px;
}
.footer-bg{
    background-image: url('../image/footer-bg.png');
}
.footer-top h5 {
    color: #fff;
}
.footer-top p, .footer-top a {
    color: #fff;
}
.copyright-section p{
    font-size: 13px;
}
.copyright-section .bottom-list ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
.copyright-section .bottom-list ul li{
    font-size: 13px;
    margin-right: 10px;
}
.copyright-section .bottom-list ul li a:hover,
.copyright-section a:hover{
    color:#fff;
    text-decoration: underline;
}
.footer .footer-share li {
    display: inline-block;
    float: none;
    margin-right: 50px;
}
.footer .footer-share li:nth-child(3) {
    margin-right: 0px;
}
.footer .footer-share a i{
    transform: scale(0.8);
    transition: all .2s ease;
    font-size: 20px;
}
.footer .footer-share a span{
    font-size: 13px;
}
.footer .footer-share a i:hover{
    transform:scale(1.2);
}

.footer-content{
    margin-top: 100px;
}
.footer-bottom p {
    margin: 0;
}
.footer-link-list ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-link-list ul li{
    list-style: none;
    margin-right: 20px;
}
.footer-link-list ul li a{
    font-size: 18px;

}
.footer-link-list ul li:nth-child(6) a{
    margin-right: 0px;
}
.footer-link-list ul li:after{
    content: "";
    width: 3px;
    height: 3px;
    background: #fff;
    position: absolute;
    border-radius: 50%;
    top: auto;
    bottom: 28px;
    left: auto;
    margin-left: 5px;
}
.terms-list ul{
    list-style: none;
    align-items: center;
    justify-content: center;
    display: flex;
}
.terms-list ul li{
    margin-right: 25px;
}
.terms-list ul li a{
    font-size: 14px;
}
